@using MVC_Client.Model.Product;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
   
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


@* <div class="form-group">
    <label for="sel1">Select Category</label>
    <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
</div> *@
@if (Context.Session.GetString("Key") == "" || Context.Session.GetString("Key") == null)
{
    <script>

        window.location.href = '/Home';


    </script>

}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Product/Index">Products</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/Category/Index">Category</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/Supplier/Index">Supplier</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/Customer/Index">Customer</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/Order/Index">Order</a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="/Home/Logout">Logout</a>
        </div>

    </div>
</nav>
<h1 style="text-align:center; "><strong>List Products</strong></h1>
<div style="display: flex; justify-content: center; align-items: center;">
    <form asp-controller="Product" asp-action="Index" method="post" style="text-align: center;">
        <input type="text" name="id" style="width: 300px; height: 50px; margin-bottom: 10px;" placeholder="Input Product Id" />
        <br />
        <input type="submit" value="Search" style="width: 100px; height: 40px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;" />
    </form>
</div>

@* <form asp-controller="Product" asp-action="CategorySearch" >
    <input type="text" name="id" width="300" height="50" placeholder="Input Category Id" />
    <input type="submit" value="Search" />


</form> *@


<button style=" margin-bottom: 20px" type="button" class="btn btn-primary"><a style="color: #fff" asp-action="AddProduct"> Add New Product </a></button>
<table class="table" style="border-collapse: collapse; width: 100%; border: 1px solid #ddd;">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="border: 1px solid #ddd; padding: 8px; text-align: left;">#</th>
            <th scope="col" style="border: 1px solid #ddd; padding: 8px; text-align: left;">ProductId</th>
            <th scope="col" style="border: 1px solid #ddd; padding: 8px; text-align: left;">ProductName</th>
            <th scope="col" style="border: 1px solid #ddd; padding: 8px; text-align: left;">CategoryId</th>
            <th scope="col" style="border: 1px solid #ddd; padding: 8px; text-align: left;">CategoryName</th>
            <th scope="col" style="border: 1px solid #ddd; padding: 8px; text-align: left;">UnitPrice</th>
            <th scope="col" style="border: 1px solid #ddd; padding: 8px; text-align: left;">SupplierId</th>
            <th scope="col" style="border: 1px solid #ddd; padding: 8px; text-align: left;">SupplierName</th>
            <th scope="col" style="border: 1px solid #ddd; padding: 8px; text-align: left;">TotalUnitSale</th>
            <th scope="col" ></th>
            <th scope="col" >Action</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductVM p in Model)
        {
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">#</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@p.ProductId</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@p.ProductName</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@p.CategoryId</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@p.CategoryName</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@p.UnitPrice</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@p.SupplierId</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@p.SupplierName</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@p.TotalUnitSale</td>
                <td >
                    <button type="button" class="btn btn-danger" style="background-color: #dc3545; border: none; color: #fff; padding: 5px 10px; border-radius: 5px;"><a style="color: #fff; text-decoration: none;" asp-action="Delete" asp-route-id="@p.ProductId">Delete</a></button>
                </td>
                <td >
                    <button type="button" class="btn btn-primary" style="background-color: #007bff; border: none; color: #fff; padding: 5px 10px; border-radius: 5px;"><a style="color: #fff; text-decoration: none;" asp-action="Update" asp-route-id="@p.ProductId">Update</a></button>
                </td>
                <td >
                    <button type="button" class="btn btn-success" style="background-color: #28a745; border: none; color: #fff; padding: 5px 10px; border-radius: 5px;"><a style="color: #fff; text-decoration: none;" asp-action="Details" asp-route-id="@p.ProductId">Detail</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>


